{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <header class="header">
        <div class="logo">СайтРу</div>
        <nav class="nav">
            <a href="{% url 'index' %}">Главная</a>
            <a href="{% url 'about' %}">О нас</a>
            <a href="{% url 'services' %}">Услуги</a>
            <a href="{% url 'contacts' %}">Контакты</a>
            <a href="{% url 'auth' %}" class="active">Войти</a>
            <a href="{% url 'profile' %}">Профиль</a>
        </nav>
        <button id="theme-btn" class="theme-toogle">🌛</button>
    </header>

    <main class="content">
        <div class="auth-container">
            <h2>Вод в аккаунт</h2>
            <form class="auth-form">
                <div class="form-group">
                    <label for="login-email">Email</label>
                    <input type="email" id="login-email" placeholder="example@mail.ru" required>
                </div>
                <div class="form-group">
                    <label for="login-password">Пароль</label>
                    <input type="password" id="login-password" placeholder="••••••••" required>
                </div>
                <button type="submit" class="btn">Войти ✨</button>
            </form>
        </div>

        <div class="auth-divider"></div>

        <div class="auth-box">
            <h2>Регистрация</h2>
            <form class="auth-form">
                <div class="form-group">
                    <label for="reg-name">Имя</label>
                    <input type="text" id="reg-name" placeholder="Имя" required>
                </div>

                <div class="form-group">
                    <label for="reg-email">Email</label>
                    <input type="email" id="reg-email" placeholder="example@mail.ru" required>
                </div>

                <div class="form-group">
                    <label for="reg-password">Пароль</label>
                    <input type="password" id="reg-password" placeholder="••••••••" required>
                </div>

                <button type="submit" class="btn btn-outline">Создать аккаунт 🐾</button>
            </form>
        </div>
    </main>

    <footer class="footer">
        <p>© 2026 Все права защищены ✨</p>
    </footer>
    <script src="{% static 'script.js' %}   "></script>
    </body>
</html>
